# Today Topics

+Execution of commands in python shells
-Data Types
    + int
    + float
    + boolean
    + complex
    + str
    
    
 + I/p And o/p
 
 + Program Execution in IDLE
 
 - Program Execution in Command Prompt
 
 + Git Hub Account Creation

In [ ]:
print(10>9 and 5<4)
print(10==10 and 9!=9)
print(9!=5 or 5==5)
print(not(100>99 and 50<20))

In [ ]:
# Assignment Operator
a=5
a+=5
a-=6
a*=4
a/=8

In [ ]:
# Bitwise Operator & |,^
2&2

10&5

11 | 6

20^10

ord('A')
ord('a')
chr(97)

In [ ]:
# Membership
s="Welcome to python workshop" 
'to' in s
'and' in s

'workz' not in s

In [ ]:
# Identity Operator is & is not,==,!=

n='hello'
m='hello'

n is not  m

In [ ]:
# Conditional Statements

if elif else

# syntax

if(condition):
    statements
elif(condition):
    statements
else
    statements

In [ ]:
n=int(input('enter the number:-'))
if n%2==0:
    print(n, 'Even number')
else:
    print(n, 'odd number')

In [ ]:
# Iteration 
# For,While
# syntax

#for variable in range(inclusive,exclusive,step):
    print(variablename)

In [ ]:
#for temp in range(10+1):  # 10+1 or 11
#   print(temp)

for i in range(1,100+1):
    print(i,end= " ")

In [ ]:
for rev in range(100,1,-1):
    print(rev,end=" ")

In [ ]:
for even in range(0,50+1,2):
    print(even,end=" ")

In [ ]:
for odd in range(1,50+1,2):
    print(odd,end=" ")

In [ ]:
for temp in range(10):
    print(temp)

In [ ]:
for dif in range (0,100,10):
    print(dif,end=" ")

In [ ]:
for i in range(1,100+1):
    print(i,end= "--")

In [ ]:
for i in range(1,100+1):
    print(i,end= "<-->")

In [ ]:
a=20
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)# floating
print(a**b)# integer
print(a%b)

In [ ]:
for i in  range(1,10+1):
    print(2*i,end=" ")

In [ ]:
num =int(input('Enter Table:-'))
for i in  range(1,10+1):
   print(num,'*',i,'=',num*i)

In [ ]:
num =int(input('Enter Table:-'))
for i in  range(1,10+1):
   print(num,'*',i,'=',num*i)

In [ ]:
num =int(input('Enter Table:-'))
for i in  range(1,10+1):
   print(num,'*',i,'=',num*i)

In [ ]:
# Find Factorial number using forloop and whileloop

In [ ]:
# Find Factors using forloop and whileloop

In [ ]:
# While loop we can execute a set of statements condition is true

# while condition:
    #statements

In [ ]:
# by using while loop to print values

In [ ]:
i=1
while i<=20:
    print(i)
    i+=1

In [ ]:
i=20
while i>=1:
    print(i)
    i-=1

In [ ]:
# using forfloop even number

n=int(input('enter values'))
for i in range(0,n+1):
    if i%2==0:
        print(i,'is even')
    i+=1

In [ ]:
# Jumping statements 

# break,continue,pass

s='hello'
for i in s:
    if i=="l":
        continue
        print(i)

In [ ]:
def name:
    pass

In [ ]:
# functions are 3 types

# Predefined
# print,input,type,ord,chr,bin,sum,max,min,round,sorted,any,all,next,oct,len,

# User defined

# Special functions

In [ ]:
a="python workshop"
len(a)

In [ ]:
a="python workshop"
b=[1,2,3,4,5]
c=[]
ord('z')
bin(5)
sum(b)
max(a)
min(a)
round(10.6)
sorted(a)
all(c)
any(c)
abs(-1)
pow(10,2)

# Write a program to print the given user

### User can give the a-z and A-Z-----> print  Alphabet

### User can give 0-9 -------> print digit

### User can give the #,@,&--------> special character

In [ ]:
data=input('Enter the any kind of data :- ')
if data>='a' and data<='z' or data>='A' and data <='Z':
    print(data,'alphabet')
elif data>='0' and data<='9':
    print(data, 'is digit')
else:
    print(data,'special character')

In [6]:
from getpass import getpass
uname=input('enter u name:-')
pwd=getpass('enter pwd :-')

if uname=="sai" and pwd=="sai@123":
    print('Welcome',uname)
else:
    print('Invalid uname or password')

enter u name:-sai
enter pwd :-········
Welcome sai

In [7]:
t=int(input('Enter no of tables'))
m=int(input('Enter table multiples'))
for i in range(1,t+1):
    for j in range(1,m+1):
        print(i,'*',j,'=',i*j)
    print('\n')

Enter no of tables10
Enter table multiples10
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [8]:
t=int(input('Enter no of tables'))
m=int(input('Enter table multiples'))
for i in range(1,t+1):
    for j in range(1,m+1):
        print(i,'*',j,'=',i*j,end="\t")
    print('\n')

Enter no of tables10
Enter table multiples10
1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20

3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30

4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40

5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50

6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60

7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70

8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80

9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90

10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100

In [12]:
# Find Factorial number using forloop and whileloop

num=int(input('Enter Value'))
i=1
for fact in range(1,num+1):
    i=i*fact
print(fact)
print(i)

Enter Value4
4
24

In [16]:
# Find Factors using forloop and whileloop
n=int(input('enter value'))
for f in range(1,n+1):
    if n%f==0:
        print(f)

enter value10
1
2
5
10